.App-walls{
  width: 495px;
  min-height: 100px;
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;


}
.Message-Overflow{
  max-height: 350px;
  overflow: scroll;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}