
.removeMessage {
    margin-left: 2px;
    padding: 8px;
    border-color: rgb(203, 20, 32);
    background-color: transparent; 
    background-image: url('./close_image.png');
    background-size: cover;
    position: relative;  
    top: -75px;
    width: 15px;
    height: 15px;
}
.txt-area-message   {
    border: 2px solid rgb(22, 199, 110);
    width: 350px;
    resize: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
 }
